---
import { getCollection, getEntry } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

const { slug } = Astro.params;
let posts, entry, Content, author;
if (slug === undefined) {
  posts = await getCollection("posts", (post) => {
    return post.data.draft !== true;
  });
} else {
  entry = await getEntry("posts", slug);
  if (entry === undefined) {
    return Astro.redirect("/404");
  }
  ({ Content } = await entry.render());
  author = await getEntry(entry.data.author);
}
---

{
  slug ? (
    <BaseLayout title={entry.title}>
      <article>
        <h1>{entry.title}</h1>
        <p>
          By {author.data.name} on {entry.date}
        </p>
        <Content />
      </article>
    </BaseLayout>
  ) : (
    <BaseLayout tytle="Posts">
      <ul>
        {posts.map((post) => (
          <li>
            <a href={`/posts/${post.slug}`}>{post.data.title}</a>
          </li>
        ))}
      </ul>
    </BaseLayout>
  )
}
