---
import { getCollection, getEntry } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

const { slug } = Astro.params;
if (!slug) {
  throw new Error("need author name");
}
const author = await getEntry("authors", slug);
if (!author) {
  return Astro.redirect("/");
}
const posts = await getCollection("posts", {
  filter: (post) => post.data.author === slug && post.data.draft !== true,
  sort: (a, b) => b.data.date - a.data.date,
});
---

<BaseLayout title="Page Title">
  <div class="text-center">
    <img
      class="rounded-full w-36 h-36 mx-auto"
      src={author.data.avatar}
      alt=`${author.data.name}'s avatar`
    />
    <p class="mb-2 mt-2">{author.data.name}</p>
    <p class="mb-2">{author.data.bio}</p>
    <div class="mt-2">
      {
        author.data.socials.map((social) => (
          <a
            class="mr-4 link link-primary"
            href={social.url}
            target="_blank"
            rel="noopener noreferrer"
          >
            {social.name}
          </a>
        ))
      }
    </div>
    <div class="mt-4">
      <ul>
        {
          posts.map((post) => (
            <li>
              <a href={`/posts/${post.slug}`}>{post.data.title}</a> -
              {post.data.date}
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</BaseLayout>
